@using ECommerceWebUI.Models.ViewModels.AdminViewModels.ListModel;
@model BannerViewEdit
@{
    ViewData["Title"] = "BannerImgEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Banner Yönetimi</h1>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="card card-primary card-outline card-tabs">
					<div class="card-header">
						<h3 class="card-title">Düzenle</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="inputName">Slider Name</label>
							<input type="text" id="inputName" class="form-control" value="@Model.SliderName">
						</div>
						<div class="form-group">
							<label for="inputName">Banner Url</label>
							<input type="text" id="inputName" class="form-control" value="@Model.SliderLink">
						</div>
						<div class="form-group">
							<label for="inputNamea">Banner Alt</label>
							<input type="text" id="inputNamea" class="form-control" value="@Model.SliderAlt">
						</div>
						<div class="form-group">
							<label for="exampleInputFile">Banner Görseli</label>
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="exampleInputFile">
									<label class="custom-file-label" for="exampleInputFile">Dosya Yükle</label>
								</div>
								
							</div>
						</div>
						<div class="form-check">
							@if (Model.SliderActive == true)
							{
								<input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
								<label class="form-check-label" for="exampleCheck1">Görsel Aktif Mi?</label>
							}
							else
							{
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">Görsel Aktif Mi?</label>
							}

						</div>
						<button type="submit" class="btn btn-success mt-3">Düzenle</button>
						<a class="btn btn-danger mt-3" asp-action="BannerEdit" asp-controller="Admin" asp-route-id="@Model.SliderPossition">İptal</a>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>


			<!-- /.row -->

		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

@section Scripts{

	<!-- bs-custom-file-input -->
	<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>


	<script>
		$(function () {
			bsCustomFileInput.init();
		});
	</script>
}

