
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper" style="min-height: 498.4px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Sipariş Detayı</h1>

				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="col-md-12">
                <div class="card p-3 ">
					<div class="container">
                        <div class="d-flex align-items-center mb-2" style="gap:5px" >
                            <h3 class="card-title">Sipariş Numarası : </h3>
							<h4 class="card-title">123</h4>
                        </div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Tarihi : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Teslim Tarihi : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
                            <h3 class="card-title">Müşteri : </h3>
							<h4 class="card-title">123</h4>
                        </div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Durumu : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Notu : </h3>
							<h4 class="card-title">123</h4>
						</div>
                        
                    </div>
                </div>
				<div class="card p-3">
					<div class="container">
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Ara Toplam :  </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Teslimat Ücreti : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Vergi : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Sipariş Toplam : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Ödeme Metodu : </h3>
							<h4 class="card-title">123</h4>
						</div>
						<div class="d-flex align-items-center mb-2" style="gap:5px">
							<h3 class="card-title">Ödeme Durumu : </h3>
							<h4 class="card-title">123</h4>
						</div>

					</div>
				</div>
			</div>


			<!-- /.row -->

		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

