@model IndexBestSellerProductsListModel
@{
	Layout = null;
}

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
	<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Çok Satan Ürünler</span></h2>
	<div class="container-fluid">
		<div class="row px-xl-5">

			@foreach (var item in Model.Urunler)
			{

				<div class="col-lg-3 col-md-3 col-sm-6 pb-1">
					<div class="product-item bg-light mb-4">
						<div class="product-img position-relative overflow-hidden">
							<img class="img-fluid w-100" src="img/product-1.jpg" alt="">
							<div class="product-action">
								<a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
								<a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
								<a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
								<a class="btn btn-outline-dark btn-square" asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.UrunAdi"><i class="fa fa-search"></i></a>
							</div>
						</div>
						<div class="text-center py-4">
							<a class="h6 text-decoration-none text-truncate" asp-action="ProductDetail" asp-controller="Home">@item.UrunAdi</a>
							<div class="d-flex align-items-center justify-content-center mt-2">
								<h5 class="text-success">@item.BirimFiyati</h5><h6 class="text-muted ml-2"><del class="text-danger">@(item.BirimFiyati + 10)</del></h6>
							</div>
						</div>
					</div>
				</div>

			}

		</div>
	</div>
</div>
<!-- Products End -->
