@{
	ViewData["Title"] = "List";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Müşteri</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ul class="breadcrumb float-sm-right">
						<a href="#" class="btn btn-success btn-sm">
							<i class="fa fa-plus-square"></i>
							Yeni Ekle
						</a>

					</ul>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<section class="content">

		<!-- Default box -->

		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Müşteri Ara</h3>
			</div>
			<div class="card-body row">
				<div class="col-lg-6">
					<!-- Date dd/mm/yyyy -->
					<div class="form-group">
						<label>Oluşturulma Tarihi</label>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
							</div>
							<input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" inputmode="numeric">
						</div>
						<!-- /.input group -->
					</div>
					<!-- /.form group -->
					<!-- phone mask -->
					<div class="form-group">
						<label>Telefon Numarası</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-phone"></i></span>
							</div>
							<input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" inputmode="text">
						</div>
						<!-- /.input group -->
					</div>
					<!-- /.form group -->
				</div>
				<div class="col-lg-6">
					<!-- email-->
					<div class="form-group">
						<label>E Posta</label>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="far fa-envelope"></i></span>
							</div>
							<input type="text" class="form-control">
						</div>
						<!-- /.input group -->
					</div>
					<!-- email -->
					<!-- /.form group -->
					<!-- İsim Soyisim-->
					<div class="form-group">
						<label>İsim Soyisim</label>

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-laptop"></i></span>
							</div>
							<input type="text" class="form-control"">
						</div>
						<!-- /.input group -->
					</div>
					<!-- /.form group -->

				</div>
				<!-- /.card-body -->
				<div class="col-lg-12">
					<a class="btn btn-info btn-sm col-12" href="#">
						<i class="fas fa-search">
						</i> Arama
					</a>
				</div>

			</div>

			<!-- /.card -->
		</div><!-- /.row -->


	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Müşteriler</h3>
			</div>
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 1%">
								#
							</th>
							<th style="width: 20%">
								E-posta
							</th>
							<th style="width: 12%">
								Adı
							</th>
							<th style="width: 14%">
								Telefon
							</th>
							<th style="width: 8%">
								Aktif
							</th>
							<th style="width:15%">
								Son Aktivite
							</th>
							<th class="width:15%">
								Oluşturulma Tarihi
							</th>
							<th class="width: 15%">
								Düzenle
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								#
							</td>
							<td>
								<a>
									deneme123@hotmail.com
								</a>
							</td>
							<td>
								<a>
									Ahmet Demir
								</a>
							</td>
							<td>
								<a>
									1233 123 12 12
								</a>
							</td>
							<td>
								<i class="icon fas fa-check text-success"></i>
							</td>
							<td>
								<a>
									22/05/23 12:32:21
								</a>
							</td>
							<td>
								<a>
									22/05/23 12:32:21
								</a>
							</td>
							<td>
								<a class="btn btn-info btn-sm" href="#">
									<i class="fa fa-eye"></i>
									  Göster
								</a>
							</td>
						</tr>

					</tbody>

				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->


	</section>
	<!-- /.content -->
</div>

@section Scripts{
	<!-- InputMask -->
	<!-- jQuery -->
	<!-- Select2 -->
	<script src="../../plugins/select2/js/select2.full.min.js"></script>

	<!-- InputMask -->
	<script src="../../plugins/moment/moment.min.js"></script>
	<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>


	<script>
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2()

			//Initialize Select2 Elements
			$('.select2bs4').select2({
				theme: 'bootstrap4'
			})

			//Datemask dd/mm/yyyy
			$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
			//Datemask2 mm/dd/yyyy
			$('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
			//Money Euro
			$('[data-mask]').inputmask()

			

		})
		

		
	</script>

}

