<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a class="brand-link">
		<img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">AdminLTE 3</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a class="d-block">@User.Identity.Name</a>
			</div>
		</div>

		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
					 with font-awesome or any other icon font library -->
				<!--Kontrol Paneli-->
				<li class="nav-item">
					<a asp-action="Index" asp-controller="Admin" class="nav-link">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Kontrol Paneli
						</p>
					</a>
				</li>
				<!--Kontrol Paneli-->
				<!--Katalog-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-book"></i>
						<p>
							Katalog
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a asp-action="ProductList" asp-controller="Admin" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Ürünler</p>
							</a>
						</li>
						<li class="nav-item">
							<a asp-action="Category" asp-controller="Admin" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Kategoriler</p>
							</a>
						</li>
						<li class="nav-item">
							<a asp-action="Brands" asp-controller="Admin" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Marka</p>
							</a>
						</li>
					</ul>
				</li>
				<!--Katalog-->
				@await Component.InvokeAsync("SatisBadge")
				<!--Müşteriler-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-table"></i>
						<p>
							Müşteriler
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a asp-controller="Admin" asp-action="CustomerList" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Müşteri Listesi</p>
							</a>
						</li>
					</ul>
				</li>
				<!--Müşteriler-->
				<!--İçerik Yönetimi-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-th"></i>
						<p>
							İçerik Yönetimi
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a asp-controller="Admin" asp-action="Banner" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Banner Yönetimi</p>
							</a>
						</li>
						<li class="nav-item">
							<a asp-controller="Admin" asp-action="Carousel" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Carousel Yönetimi</p>
							</a>
						</li>
					</ul>
				</li>
				<!--İçerik Yönetimi-->
				<!--Yapılandırma-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-tree"></i>
						<p>
							Yapılandırma
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="pages/layout/top-nav.html" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Top Navigation</p>
							</a>
						</li>
					</ul>
				</li>
				<!--Yapılandırma-->
				<!--Sistem-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon far fa-plus-square"></i>
						<p>
							Sistem
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="pages/layout/top-nav.html" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Top Navigation</p>
							</a>
						</li>
					</ul>
				</li>
				<!--Sistem-->
				<!--Raporlar-->
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Raporlar
							<i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="pages/layout/top-nav.html" class="nav-link">
								<i class="nav-icon far fa-circle "></i>
								<p>Top Navigation</p>
							</a>
						</li>
					</ul>
				</li>
				<!--Raporlar-->

				<li class="nav-header">EXAMPLES</li>
				<li class="nav-item">
					<a href="pages/calendar.html" class="nav-link">
						<i class="nav-icon far fa-calendar-alt"></i>
						<p>
							Calendar
							<span class="badge badge-info right">2</span>
						</p>
					</a>
				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>

