
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h1 class="my-4">Hakkımızda</h1>
<p>
        "KeremShop", herkesin ihtiyaç duyduğu ürünleri uygun fiyatlarla sunan çevrimiçi bir alışveriş platformudur. 
        Geniş ürün yelpazesiyle elektronikten giyime, ev eşyalarından kozmetiğe kadar pek çok kategoride ürün bulabilirsiniz. 
        Güvenilir ödeme sistemleri ve hızlı kargo seçenekleriyle alışveriş deneyiminizi kolaylaştırır. 
        Ayrıca müşteri memnuniyetine büyük önem veren KeremShop, profesyonel müşteri hizmetleri ekibiyle her zaman yanınızdadır. 
        İhtiyaçlarınıza uygun ürünleri uygun fiyatlarla bulabileceğiniz güvenilir bir alışveriş deneyimi sunar.
</p>
    <h2> Temel Değerlerimiz</h2>
    <ul>
        <li>Müşteri Memnuniyeti: Müşterilerimizin ihtiyaçlarını anlamak ve onların memnuniyetini sağlamak için çaba gösteririz.</li>
        <li>Güvenilirlik: Müşterilerimize karşı şeffaf ve güvenilir bir şekilde iş yapmayı ilke ediniriz.</li>
        <li>Kalite: Satışa sunduğumuz ürünlerde kalite standartlarına sıkı bir şekilde bağlı kalırız.</li>
        <li>İnovasyon: Sürekli olarak yenilikçi çözümler üreterek, müşterilerimize daha iyi bir alışveriş deneyimi sunarız.</li>
        <li>Sosyal Sorumluluk: Topluma ve çevreye karşı sorumluluk sahibi olarak hareket ederiz ve sürdürülebilirlik ilkelerine önem veririz.</li>
        <li>Çalışan Memnuniyeti: Çalışanlarımızın motivasyonunu ve mutluluğunu artırmak için çeşitli destek ve olanaklar sağlarız.</li>
    </ul>
<h2 class="my-3">Vizyonumuz</h2>
    <p>Müşterilerimize en geniş ürün yelpazesiyle uygun fiyatlarla alışveriş yapabilecekleri, güvenilir ve kolay bir platform sunmak.</p>

<h2 class="my-3">Misyonumuz</h2>
<p>Müşteri memnuniyetini esas alarak, kaliteli ürünleri hızlı ve güvenilir bir şekilde müşterilerimize ulaştırmak ve alışveriş deneyimlerini en iyi şekilde yaşamalarını sağlamak.</p>



</div>

